@model IEnumerable<Kyrsach.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

   
<head>
    <link rel="stylesheet" href="~/css/StyleLoginRegIn.css" />
    <link rel="stylesheet" href="~/css/StyleDiagram.css" asp-append-version="true" />
</head>

  <h1>Вывод в Excel</h1>
<hr />

<div class="card-3d-wrap mx-auto" style="      width: 1150px;  height: 200px;margin-bottom:100px">
                    <div class="square" style="--i: 0"></div>
                    <div class="square" style="--i: 1"></div>
                    <div class="square" style="--i: 2"></div>
                    <div class="square" style="--i: 3"></div>
                    <div class="square" style="--i: 4"></div>
    <div class="card-3d-wrapper" style="    width: 1150px; height: 230px; ">


        <div class="card-front" style="padding:20px">

                            <h2>Вывод оценок по одному предмету за весь период</h2>
            <form class="center-wrap" style="width: 100% !important;display: flex;justify-content: space-between;
    align-items: center;" asp-controller="Diagrams" asp-action="ExportPeopleInExcel">
                            <div class="formSelect">

                                <label for="tests">Категории</label>
                                <select class="my-select-menu" id="idCategory" name="idCategory" asp-items="@ViewBag.Categories"></select>
                            </div>
                                           <div class="formSelect">

                                <label for="tests">Группы</label>
                                <select class="my-select-menu" id="idGroup" name="idGroup" asp-items="@ViewBag.Groups"></select>
                            </div>
                            <button type="submit" id="Excel" class="btn">

                                <strong class="strongBtn">Вывод Excel</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>

                                <div id="glow">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                            </button>
                        </form>


                    </div>
            </div>
        </div>
<div class="card-3d-wrap mx-auto" style="    width: 1150px;height: 200px; margin-bottom:100px">
                    <div class="square" style="--i: 0"></div>
                    <div class="square" style="--i: 1"></div>
                    <div class="square" style="--i: 2"></div>
                    <div class="square" style="--i: 3"></div>
                    <div class="square" style="--i: 4"></div>
    <div class="card-3d-wrapper" style="    width: 1150px; height: 230px; ">


        <div class="card-front" style="padding:20px">

                            <h2>Вывод оценок по всем предметам за указанный период</h2>
            <form class="center-wrap" style="width: 100% !important;display: flex;justify-content: space-between;
    align-items: center;" asp-controller="Diagrams" asp-action="ExportTestByDateInExcel">
                    <div class="contener">
                        <div class="formSelect">
                            <label for="DateStart">Дата с</label>
                        <input type="date" required min="2020-01-01" max="2024-12-31" class="my-select-menu" name="DateStart" />
                    <span class="text-danger" >@ViewBag.Message</span>    
                    </div>
                        <div class="formSelect">
                            <label for="DateEnd">Дата по</label>
                        <input type="date" required min="2020-01-01" max="2024-12-31" class="my-select-menu" name="DateEnd" />
                        </div>
                         <div class="formSelect">
                                <label for="tests">Группы</label>
                                <select class="my-select-menu"  name="idGroup" asp-items="@ViewBag.Groups"></select>
                            </div>
                    </div>
                    <button type="submit"  class="btn">

                        <strong class="strongBtn">Вывод Excel</strong>
                        <div id="container-stars">
                            <div id="stars"></div>
                        </div>

                        <div id="glow">
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </button>
                </form>


                    </div>
            </div>
        </div>
<hr />
<h1 style="margin-right:20px;">Построение графиков</h1>


<div class="card-3d-wrap mx-auto" style="    width: 1150px;height: 200px; margin-top:0px">
    <div class="square" style="--i: 0"></div>
    <div class="square" style="--i: 1"></div>
    <div class="square" style="--i: 2"></div>
    <div class="square" style="--i: 3"></div>
    <div class="square" style="--i: 4"></div>
    <div class="card-3d-wrapper" style="width: 1150px; height: 230px; ">


        <div class="card-front" style="padding:20px">

            <h2>Формирование графиков успеваимости ученика</h2>
            <form class="center-wrap" style="width: 100% !important;display: flex;justify-content: space-between;
    align-items: center;" >
                <div class="formSelect">
                    <label for="tests">Пользователи</label>
                    <select id="users" class="my-select-menu" name="users">
                        @foreach (var i in Model)
                        {
                            <option value="@i.Id">@i.NormalizedUserName</option>
                        }
                    </select>
                </div>  <div class="formSelect">

                    <label for="tests">Категории</label>
                    <select class="my-select-menu " id="tests" name="tests"></select>
                </div>
                <div class="formSelect">
                    <label for="tests">Дата с</label>
                    <input id="startDate" required class="my-select-menu" min="2020-01-01" max="2024-12-31" type="date" />
                </div>  <div class="formSelect">
                    <label for="tests">Дата по</label>
                    <input id="endDate" required class="my-select-menu" min="2020-01-01" max="2024-12-31" type="date" />
                </div>
                <button class="btn dia" type="button">

                    <strong class="strongBtn">Сформировать</strong>
                    <div id="container-stars">
                        <div id="stars"></div>
                    </div>

                    <div id="glow">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>

                </button>


            </form>


        </div>
    </div>
</div>

<br />
<h2 id="titleDiagramm1"></h2>
<br />
<div id="container">

    <div id="content">
        <div class="mainChart">
            <canvas id="salesData"></canvas>
        </div>
    </div>
</div>
<hr />
<h2 id="titleDiagramm2"></h2>
<div id="container">
   
<canvas id="myChart" width="400" height="400"></canvas>


    <!-- Canvas for Chart.js -->
    <div style="width: 50%;">
        <h2 id="titleDiagramm3">Оценки</h2>
   
    <div id="chartdiv"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="~/js/diagrams.js"></script>
<script>
   $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>
