@model IEnumerable<Kyrsach.Models.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/StyleLoginRegIn.css" />

    <link rel="stylesheet" href="~/css/Chat.css" />
        <link rel="stylesheet" href="~/css/StyleDiagram.css" asp-append-version="true" />

</head>
<div style="padding:0 100px">
<div class="flexInputForm">
    <span>Список групп:</span>

        <a class="btn" style="width:fit-content!important" asp-action="RegisterUser">
                <strong>Зарегистрировать ученика</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>
                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </a>
        @if (User.IsInRole("admin"))
        {
            <a class="btn" style="width:fit-content!important" asp-action="RegisterTeacher">
                <strong>Зарегистрировать учителя</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>
                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </a>
        }
    </div>
            <hr/>

        <ul class="users">
            @foreach (var item in Model)
            {
                <li class="user found" style="grid-template-columns:1.5fr 0.4fr 1fr 0.5fr  2.1fr">
                    <span class="user-name name soughtFor" >@item.LastName @item.FirstName</span>
                    <span>@item.UserName</span>
                    <span>@item.Email</span>
                    <span>@item.NameGroup</span>
                   
                    @if (item.NameRole == "user")
                    {

                        <form class="CreateCategoryButtons" asp-action="EditGropFromUser" asp-controller="Groups">
                        @if (User.IsInRole("admin"))
                        {
                            <span>@item.NameRole</span>


                        }
                        
                            <div class="formSelect" style="display:flex;gap:10px">

                                <label for="tests">Группы</label>
                                <select class="my-select-menu" id="idCategory" name="idGroup" asp-items="@ViewBag.Groups"></select>
                            </div>
                            <input name="idUser" value="@item.Id" hidden/>
                            <button class="btn" style="width:fit-content!important" type="submit">
                                <strong>Изменить</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>
                                <div id="glow">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                            </button>
                        <a class="btn" style="width:fit-content!important" asp-action="DeleteUser" asp-route-userId="@item.Id">
                                <strong>Удалить</strong>
                                <div id="container-stars">
                                    <div id="stars"></div>
                                </div>
                                <div id="glow">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div>
                            </a>
                        </form>
                    }
                </li>
            }
        </ul>
</div>